<html>
    <body>
        <h1>Put your input</h1>
        <form action="/pred_result" method="POST">
            <input type="number" name="preg" placeholder="preg" required>
            <input type="number" name="plas" placeholder="plas" required>
            <input type="number" name="pres" placeholder="pres" required>
            <input type="number" name="skin" placeholder="skin" required>
            <input type="number" name="test" placeholder="test" required>
            <input type="number" name="mass" placeholder="mass" required>
            <input type="number" name="pedi" placeholder="pedi" required>
            <input type="number" name="age" placeholder="age" required>
            <button>Submit</button>

        </form>
    </body>
</html>



column_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
